<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPX</title>
    <link rel="stylesheet" id="tema" href="static/css/main.css">
</head>
<body>
    <div class="feq3qefwww">
        <h1>SPX-unix</h1>
        <p>Час до очистки: <span id="unixwqqw"></span></p>
        <br>
        <div class="file-input-wrapper">
            <label for="file_input_qfEASD" id="f2w311e23qqaaa" class="file-label">Вибрати файл</label>
            <input id="file_input_qfEASD" type="file" accept=".css" class="file-input">
            <span id="file_name" class="file-name">Файл невибрано</span>
        </div>
        <button class="gweu23gw" onclick="file_send()">Завантажити файл</button>
        <br><br>
        <div class="fwewsdwq32r"></div>
        <br>
        <button onclick="get_file_render()" class="gweu23gw">Обновити</button>
    </div>
</body>
<script src="static/jquery.min.js"></script>
<script src="static/main.js"></script>
<script>
    get_file_render();
    get_time();

    setInterval(() => {
        get_time();
    }, 15000);
</script>
</html>