<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <div class="menu">
        <p class="name">Nature</p>
        <div class="foal_left">
           <button class="button">Search</button>
           <button class="button">Popular</button>
           <button class="button">Sign in</button>
           <button class="button">Nature</button>
        </div>
    </div>
    <div class="main">
        <div class="unr">
            <br>
            <p class="name_block">Austria nature</p>
            <br>
            <div class="hr"></div>
        </div>
    </div>
</body>
</html>