body {
    background-color: #23232f;
    color: #fffffff1;
}

.name_block{
    color: #ffffffcf;
}

.text{
    color: #ffffffc6;
}

.main_text{
    color: #ffffffda;
}

.button{
    color: #ffffff;
}