body {
    background-color: #23232f;
    color: aliceblue;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Consolas", "Courier New", monospace;
}

.foal_left{
    position: relative;
    float: right;
    left: -50px;
    top: 15px;
}

.menu{
    position: fixed;
    background: #ffffff00;
    backdrop-filter: blur(2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 70px;
    width: 100%;
    z-index: 1000;
}

.button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 17px;
    background-color: #ffffff00;
    cursor: pointer;
    transition: all .3s;
}

.button:hover{
    background-color: #ff5b5b1d;
}

.name{
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 35px;
    letter-spacing: 5px;
    color: #ff5b5bd6;
}

.main{
    position: relative;
    top: 70px;
    z-index: 1;
}

.unr{
    position: relative;
    width: calc(100% - 400px);
    height: 100vh;
    left: 200px;
}

.name_block{
    position: relative;
    font-size: 30px;
    font-weight: bold;
    color: #ffffffcf;
}

.hr{
    width: 100%;
    position: relative;
    height: 2px;
    background-color: #ff5b5bd6;
}

.img{
    position: relative;
    width: 70%;
}

.text{
    color: #ffffffc6;
}

.main_text{
    color: #ffffffda;
    font-size: 22px;
    font-weight: bold;
}

.numrs{
    color: #ff6161df;
    font-weight: bold;
}

.img_1{
    position: relative;
    float: left;
    margin-right: 20px;
    width: 350px;
    transition: all .3s;
    cursor: pointer;
}

.img_1:hover{
    opacity: 0.6;
}

@media(max-width: 1300px) {
    .unr{
        position: relative;
        width: calc(100% - 200px);
        height: 100vh;
        left: 100px;
    }
}

@media(max-width: 900px) {
    .unr{
        position: relative;
        width: calc(100% - 100px);
        height: 100vh;
        left: 50px;
    }
}

@media(max-width: 550px) {
    .unr{
        position: relative;
        width: calc(100% - 20px);
        height: 100vh;
        left: 10px;
    }
}