body{
    background-color: #e3e3e3;
    color: #1c1c1cf1;
}

.name_block{
    color: #1c1c1cf1;
}

.text{
    color: #161616c6;
}

.main_text{
    color: #151515da;
}

.button{
    color: #020202f1;
}