body {
  background-color: #23232f;
  color: aliceblue;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Consolas", "Courier New", monospace;
}

.foal_left {
  position: relative;
  float: right;
  left: -80px;
  top: 15px;
}

.menu {
  position: fixed;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 70px;
  width: 100%;
  z-index: 1000;
}

.button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: 17px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  background-color: rgba(255, 91, 91, 0.1137254902);
}

.name {
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 35px;
  letter-spacing: 5px;
  color: rgba(255, 91, 91, 0.8392156863);
}

.main {
  position: relative;
  top: 70px;
  z-index: 1;
}

.unr {
  position: relative;
  width: calc(100% - 400px);
  height: 100vh;
  left: 200px;
}

.name_block {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8117647059);
}

.hr {
  width: 100%;
  position: relative;
  height: 2px;
  background-color: rgba(255, 91, 91, 0.8392156863);
}

.text {
  color: rgba(255, 255, 255, 0.7764705882);
}

.main_text {
  color: rgba(255, 255, 255, 0.8549019608);
  font-size: 22px;
  font-weight: bold;
}

.numrs {
  color: rgba(255, 97, 97, 0.8745098039);
  font-weight: bold;
}

@media (max-width: 1300px) {
  .unr {
    position: relative;
    width: calc(100% - 200px);
    height: 100vh;
    left: 100px;
  }
}
@media (max-width: 900px) {
  .unr {
    position: relative;
    width: calc(100% - 100px);
    height: 100vh;
    left: 50px;
  }
}
@media (max-width: 550px) {
  .unr {
    position: relative;
    width: calc(100% - 20px);
    height: 100vh;
    left: 10px;
  }
}
.cover1212 {
  display: inline-block;
  height: 200px;
  width: 300px;
  margin: 15px;
  border-radius: 8px;
}

.cover12122 {
  display: inline-block;
  height: 300px;
  width: 500px;
  margin: 15px;
  border-radius: 8px;
}

.atvImg {
  border-radius: 8px;
  transform-style: preserve-3d;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.atvImg img {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(14, 21, 47, 0.25);
}

.atvImg-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: all 0.2s ease-out;
}

.atvImg-container.over .atvImg-shadow {
  box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4), 0 16px 40px rgba(14, 21, 47, 0.4);
}

.atvImg-layers {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  transform-style: preserve-3d;
}

.atvImg-rendered-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: cover;
  transition: all 0.1s ease-out;
  overflow: hidden;
  border-radius: 8px;
}

.atvImg-shadow {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  transition: all 0.2s ease-out;
  box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6);
}

.atvImg-shine {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 60%);
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  font-size: 35px !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  z-index: 1000;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  box-shadow: none;
}

.scroll-to-top:hover {
  opacity: 0.3;
}

.scroll-to-top img {
  outline: none;
  border: none;
}

.scroll-to-top:focus {
  outline: none;
  box-shadow: none;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: 0.4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}

.sasw {
  position: absolute;
  right: 20px;
  top: 20px;
  transform: scale(0.7);
}

/*# sourceMappingURL=main.css.map */
